.container {
  max-width: 1000px;
  display: block;
  margin: auto;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  @media only screen and (max-width: 1024px) {
    grid-template-columns: 25% 25% 25% 25%;
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 50% 50%;

  }
}
